$fontSize: 14px;
$fontColorDefault: red;

body {
    font-size: $fontSize;
    color: $fontColorDefault;
}

.small {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background: url("../images/small.png") no-repeat;
}

.temp {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background: url("../images/temp.png") no-repeat;
}